<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <nav class="nav">
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <ul class="nav-links">
            <li class="nav-link">
                <a href="/">Home</a>
            </li>
            <li class="nav-link">
                <a href="./courses.html">Courses</a>
            </li>
            <li class="nav-link">
                <a href="/profile.html">Profile</a>
            </li>
        </ul>
    </nav>

    <section class="section-one">
        <h1 class="course__title">My Courses</h1>
        <p class="videos-count">10 Courses</p>
    </section>

    <section class="section-two">
        <div class="courses">
            <div class="course">
                <div class="course-card">
                    <img src="./img1.png" alt="" class="thumbnail">
                    <h4 class="course-title">Title</h4>
                    <p class="description">Course description</p>
                </div>
            </div>
            <div class="course">
                <div class="course-card">
                    <img src="./img1.png" alt="" class="thumbnail">
                    <h4 class="course-title">Title</h4>
                    <p class="description">Course description</p>
                </div>
            </div>
            <div class="course">
                <div class="course-card">
                    <img src="./img1.png" alt="" class="thumbnail">
                    <h4 class="course-title">Title</h4>
                    <p class="description">Course description</p>
                    
                </div>
            </div>
            <div class="course">
                <div class="course-card">
                    <img src="./img1.png" alt="" class="thumbnail">
                    <h4 class="course-title">Title</h4>
                    <p class="description">Course description</p>
                </div>
            </div>
        </div>
    </section>

    <script src="./js/script.js"></script>
</body>
</html>